*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, -apple-system,  system-ui, sans-serif;
}

.navbar {
    background-color: white;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: black;
    font-size: 20px;
}

.sign-up-btn{
    background-color: #0D6EFD;
    color: white;
    padding: 16px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.2s;
}

.sign-up-btn:hover{
    background-color: #0B5ED7;
}

.hero-content{
    background-image: url("https://startbootstrap.github.io/startbootstrap-landing-page/assets/img/bg-masthead.jpg");
    background-size:cover;
    background-position:bottom;
    height: 80vh;
    position: relative;
    background-color: white;
}

.hero-content {
    position: relative;
    text-align: center;
    padding-top: 200px;
    color: white;
}

.hero-content h1{
    font-size: 45px;
    margin-bottom: 40px;
    line-height: 1.2;
}

.email-signup{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 15px;
}
.email-signup input{
    width: 500px;
    padding: 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.submit-btn{
    background-color: #0D6EFD;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.features {
    background-color: white;
    padding: 120px 20px;
}

.features-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.feature-item {
    flex: 1;
    text-align: center;
    color: black;
    max-width: 700px;
}

.feature-icon {
    margin-bottom: 20px;
}

.icon {
    font-size: 70px;
    color: #0D6EFD;
}

.feature-item h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.feature-item p {
    color: black;
    line-height: 1.6;
    font-size: 20px;
}

.showcase{
    background-color: white;
}

.showcase-item {
    display: flex;
    align-items: center;
    padding: 0 0;
    background-color: rgba(255, 255, 255, 0.476);
}

.showcase-item.reverse {
    flex-direction: row-reverse;
}

.showcase-text {
    flex: 1;
    padding: 0 100px;
    max-width: 720px;
    margin: 0 auto;
    color: black;
}

.showcase-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
}

.showcase-text p {
    font-size: 20px;
    line-height: 1.6;
    color: black;
}


.showcase-image {
    flex: 1;
    padding: 0 0;
}

.responsive-image, .code-image, .customize-image {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: right;
}

.responsive-image {
    background-image: url('https://startbootstrap.github.io/startbootstrap-landing-page/assets/img/bg-showcase-1.jpg');
}

.code-image {
    background-image: url('');
}

.code-image {
    background-image: url('https://startbootstrap.github.io/startbootstrap-landing-page/assets/img/bg-showcase-2.jpg');
}

.customize-image {
    background-image: url('https://startbootstrap.github.io/startbootstrap-landing-page/assets/img/bg-showcase-3.jpg');
}

.testimonials {
    padding: 110px 20px;
    background-color:white;
    text-align: center;
}

.testimonials h2{
    color: black;
    font-size: 32px;
    margin-bottom: 50px;
}

.testimonials-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 140px;
}

.testimonial-item{
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.profile-image{
    width: 180px;
    height: 180px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow:hidden;
    box-shadow: rgba(255, 255, 255, 0.5);
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.testimonial-item h3{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    
}

.testimonial-item p {
    font-size: 17px;
    line-height: 1.5;
}

.cta{
    padding: 100px 20px;
    background-image: url('https://startbootstrap.github.io/startbootstrap-landing-page/assets/img/bg-masthead.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.cta-content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.cta h2{
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
}

.signup-form {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.signup-form input {
    width: 500px;
    padding: 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.signup-form .submit-btn {
    background-color: #0D6EFD;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: white;
    padding: 50px 20px;
    color: black;
    
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.footer-links ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.footer-links ul li {
    display: inline-block; 
    margin-right: 20px; 
}

.footer-links ul .dot{
    font-size: 20px;
}

.footer-links ul li a {
    color: #0D6EFD;
    text-decoration: underline;
    font-size: 16px;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin: 0;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.social-links ul li{
    display:inline-block;
    margin-left: 20px;
}

.social-links ul li i{
    color: #0D6EFD;
    font-size: 24px;
    cursor: pointer;
}

.social-links ul li i:hover{
    color:#0B5ED7;
}